*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
overflow:hidden;
/* background:#ece8df; */
background:#989898;
/* background:#b3b3b3; */
/* background:#7c7979; */
background:#979393;



}



@font-face {
 font-family: 'CMMCodaNormalizedUnlicensedTrial-MonoSerif';
 src: url('./font/CMMCodaNormalizedUnlicensedTrial-MonoSerif.otf'); 
 font-weight: 400;
}
@font-face {
 font-family: 'officecodeprod';
 src: url('./font/officecodeprod-light.otf'); 
 font-weight: 400;
}


/* INTRO */



#intro{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:end;
background-image:url("img/textured-paper.png");
opacity: 1.2;
backdrop-filter:blur(9px);

    transition:
        opacity 2.5s ease,
        /* filter 3s ease, */
        backdrop-filter 2.5s ease;

    /* background:#ece8df; */
    /* background:#c2bfbf;;

    opacity: 0.84; */

    z-index:999;

}

.intro-message{

    max-width:350px;
   
    padding:30px;
 text-align:left;
color: rgb(246, 246, 246);


}

.intro-line{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
  color: transparent;
    -webkit-text-stroke: 1.2px #ffffff;

    text-transform:lowercase;

    
    font-size:1.6rem;


    /* letter-spacing:.1em; */

    line-height:1.15;

    margin-bottom:14px;



}

.intro-subline{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
      /* color: transparent;
    -webkit-text-stroke: 1.2px #ffffff; */


    font-size:1.15rem;

    line-height:1.2;
     margin-bottom:35px;

  
}


#intro.hide{

    opacity:0;
    pointer-events:none;
 

    backdrop-filter:blur(20px);

}



#hint{

    position:absolute;


    left:50%;
    bottom:40px;

    transform:translateX(-50%);

    font-size:.75rem;

    letter-spacing:.18em;

    opacity:.65;

    z-index:150;

    transition:1s;

}

/* REGISTERBLATT */

#archive{


background-size:cover;
background-position:center;
background-repeat:no-repeat;

position:fixed;
inset:0;
overflow:hidden;

}



/* Papierstruktur */

#archive::after{
background-image:url("img/textured-paper.png");
opacity: 0.7;
content:"";

position:absolute;
inset:0;


pointer-events:none;

}




/* LOCHUNG */

#holes{

position:absolute;

left:18px;
top:30px;

display:flex;
flex-direction:column;

gap:54px;

z-index:70;

}

.hole{

background:white;

box-shadow:
inset 0 0 8px rgba(0,0,0,.15),
0 2px 4px rgba(0,0,0,.08);

}

.oval{

width:22px;
height:56px;

border-radius:40px;

}
.round,
.dot{

width:18px;
height:18px;
border-radius:50%;

}
/* PUNKTE */




/* FRAGMENTE */

#fragments{

position:relative;

display:grid;

grid-template-columns:
1fr 1fr 1fr;

height:95vh;

padding:

90px
40px
120px
60px;

z-index:50;

}

.fragment{

position:absolute;
 width:120px;
 max-width:120px;
cursor:pointer;

 opacity:0;

    transition:
    opacity 1.5s ease,
    transform .4s ease;
}


.fragment small{

display:block;

opacity:1;
font-size: 15px;
color: #ff4d31;
  /* color: transparent;
    -webkit-text-stroke: 0.9px  #ff4d31; */

margin-bottom:6px;

}

.fragment h3{
  

font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
 /* text-shadow: 0.5px 0.5px 0.5px #b7b7b7; */
/* text-transform: uppercase; */
/* color: rgb(236, 236, 236); */
  color: transparent;
    -webkit-text-stroke: 0.9px #fafafa;


text-decoration-line: underline;
text-decoration-color: #e8e8e8;
text-transform: lowercase;
    text-decoration-thickness: 1px;
/* color: rgb(255, 255, 255); */

font-size:1.7rem;
letter-spacing:0.15em;
line-height: 0.9;


font-weight:100;

margin-bottom:10px;



}

.fragment:hover h3{

    /* transform:translateX(6px); */
      color: transparent;
    -webkit-text-stroke: 1px #ff4d31;
    text-decoration-color: #ff4d31;
    /* color: #ff4d31; */

    /* letter-spacing:0.04em; */

}

.arrow{

    font-size:1.95rem;
    display:inline-block;
    /* color: rgb(255, 77, 0); */
     color: transparent;
    -webkit-text-stroke: 0.9px  #ff4d31;
    margin-top:-6px;
   transition:.4s;
   
   

    animation:pulseArrow 2.5s ease-in-out infinite;



}

.fragment:hover .arrow{

transform:translateX(10px);

}

/* OVERLAY */

#overlay{

position:fixed;
inset:0;

display:flex;
justify-content:center;
align-items:center;

pointer-events:none;

z-index:200;

}
#closeTop{

    position:absolute;

    top:12px;
    right:calc(50% - 325px);

    width:56px;
    height:56px;

    background:transparent;

    border:none;

    cursor:pointer;

    z-index:9000;

}

#document{

    display:none;

    width:min(88vw,650px);

    /* max-height:78vh; */

    position:absolute;

    /* top:40px;
    left:50%; */

    top:0px;
    left:56%;

    transform:translateX(-50%);

    height:calc(100vh - 0px);

    max-height:none;

    overflow-y:auto;

    opacity:1;

pointer-events:none;

background:
rgba(247,243,232,.95);

backdrop-filter:blur(2px);

overflow:auto;

transition:.45s ease;

 border-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAW9JREFUeF7t3MtKA0EURdHK/3+04kRoFYpwd9VAlrMQs9OsPj6gm7zWWh/r+fX68Xj68HR/d3yn3//R/8K7+oZrrfqEAd0JxM9fHYyFzs/erx/5eVLhW+D277N/Tw80PsVAgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CgcYCcc5CD4BevSroMvL8DJ4+YbsjPP3+bnTYnYE3nwf6Jtju212X3wlNnvdXfqL3x2uBAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pyFAo0F4pwPcZmDuvtubvgoAAU6E7h+B/PscL36IeDfpngQQIHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOQoHGAnHOdfk5qMvIc8NHASjQmcDV6/KfzItARY5qu40AAAAASUVORK5CYII=') 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid; 


}

#document.open{
  display:block;

transform:
translate(-50%,0);


background-image:url("img/textured-paper.png");
opacity: 0.98;


pointer-events:auto;

}
#archive.dim{

opacity:.65;

}


#archive.blur{

opacity:.35;

}


.document-inner{

padding:50px 6px 30px;

}


#large-title{

    margin-bottom:50px;
    /* color: #ff4d31; */
         color: transparent;
    -webkit-text-stroke: 1.2px  #ff4d31;
    /* text-decoration: underline;
    text-decoration-thickness: 1.7px; */
    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
    text-transform: lowercase;
  

}

.title-word{

    font-size:clamp(2.6rem,8vw,5.5rem);

    line-height:1;

}

.title-word.left{

    text-align:left;

}

.title-word.center{

    text-align:center;

    margin-left:40px;

}

.title-word.right{

    text-align:right;

}

#year{

margin-bottom:30px;
font-size: 26px;
font-weight: 10;
   /* text-decoration: underline;
    text-decoration-thickness: 1.7px; */
/* opacity:.6; */
color: #ff4d31;


}

#location{

font-family:"officecodeprod";

 hyphens: auto;
  overflow-wrap: break-word;
font-size: 14px;
 line-height:1.3;
margin-bottom:40px;
text-align:left;
 /* max-width:30ch; */
    text-wrap: pretty;
padding-left:17px;

    border-left:1.3px solid #ff4d31;
    

color: rgb(49, 49, 49);


/* letter-spacing:.07em; */

}

#story-image{

    margin:36px 0 40px;

}

#detailImage{

    width:100%;

    display:block;

    filter:
        grayscale(100%)
        contrast(1.05)
        brightness(.95);

    mix-blend-mode:multiply;

    opacity:.9;
}

#story-text{
font-family:"officecodeprod";
  hyphens: auto;
  overflow-wrap: break-word;
font-size: 14px;
color: #3e3e3e;
/* padding-left:23px; */
text-align:left;
line-height:1.3;
margin-bottom:40px;
text-wrap:pretty;
  max-width:100ch;
   

}

#story-text p{

    margin-bottom:15px;
    

}




#closeBtn{

width:100%;
font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
font-size: 16px;

padding:18px;

border:none;

background:transparent;
text-transform:lowercase;
text-decoration-line: underline;
margin-bottom: 2px;
  color: transparent;
    -webkit-text-stroke: 0.8px #565656;


text-decoration-line: underline;
text-decoration-color: #898989;
}

#document:hover #closeBtn{

    
    /* color: #ff4d31; */
   color: transparent;
    -webkit-text-stroke: 0.7px #ff4d31;
    text-decoration-color: #ff4d31;

}

#closeTop{

    position:absolute;

    top:-28px;
    right:-28px;

    width:56px;
    height:56px;

    background:transparent;

    border:none;

    cursor:pointer;

    z-index:1000;

}

@keyframes pulseArrow{

    0%,100%{

        transform:translateX(0);

    }

    50%{

        transform:translateX(5px);

    }

}

#archive-info{

    position:absolute;

    top:32px;
    right:32px;

    width:170px;

    text-align:right;


    background:
    b3b3b3;

    padding:
    1px
    5px;
    z-index: 60;
    /* border:
    1px solid rgba(0,0,0,.08); */


}

.archive-title{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
   text-shadow: 0.5px 0.5px 0.5px #d5d5d5bb;

    font-size:1em;
    color: rgba(242, 242, 242, 0.61);

    letter-spacing:.17em;

    margin-bottom:5px;

    opacity:1;

}

.archive-action{

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
      text-shadow: 0.5px 0.5px 0.5px #cdcdcd82;
      width:100%;
    text-align: right;
color: rgba(242, 242, 242, 0.61);
    font-size:.98rem;
    line-height:1.13 ;
    

    /* letter-spacing:.12em; */

    opacity:1

}

@media(max-width:768px){

    #archive-info{

        top:22px;
        right:20px;

        max-width:180px;

    }

    .archive-title{

        font-size:.78rem;

    }

    .archive-text{

        font-size:.6rem;

    }

    .archive-action{

        font-size:.67rem;

    }
    .fragment{

    width:100px;
    max-width:100px;

}

.fragment h3{

    font-size:1.55rem;
    line-height:1;

}

}


#mirror-bg{
    position:absolute;
    inset:0;
     width:100%;
    height:100%;
    background-image:url("img/162108-scaled4.jpg");
    background-size:cover;
    background-position:center;
     background-repeat:no-repeat;

    z-index:1;
}

#paper-mask{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
     display:block;


    z-index:2;
}

#holeGroup circle{
     fill: black;
    transform-box: fill-box;
    transform-origin: center;
    transition: opacity 0.4s ease, transform 0.4s ease;
}


#archive-credit{

    position:absolute;

    right:28px;
    bottom:24px;

    z-index:120;

    font-family:"CMMCodaNormalizedUnlicensedTrial-MonoSerif";
    font-size:12px;
    text-align: right;
    line-height: 11.5px;
    letter-spacing:0.02em;

    color:rgba(240, 240, 240, 0.63);

    user-select:none;
    pointer-events:none;

}

@media(max-width:768px){

    #archive-credit{

        right:22px;
        bottom:16px;

        font-size:9px;

    }

}



@media (min-width: 900px){

    .fragment{

        width:170px;
        max-width:170px;

    }

    .fragment h3{

        font-size:2.2rem;
        line-height: 1;

    }
    .fragment small{

        font-size:18px;

    }
    .arrow{

        font-size:2.4rem;

    }

}

@media (min-width:768px) and (max-width:899px){

    .fragment{

        width:145px;
        max-width:145px;

    }

    .fragment h3{

        font-size:2rem;
        letter-spacing:0.15em;
line-height: 1;

    }

    .fragment small{

        font-size:16px;

    }
    .arrow{

        font-size:2.4rem;

    }

      #document{

        left:auto;
        right:0;

        transform:none;

        width:560px;

    }

    #document.open{

        transform:none;

    }



}